{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Barsha KC Khatri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <button id="sidebarToggle" class="menu-toggle">☰</button>
    <nav id="sidebar" class="sidebar">
      <div class="sidebar-header">
        <h2>Barsha KC Khatri</h2>
      </div>
      <ul class="sidebar-menu">
        <li><a href="#home" class="nav-link">Home</a></li>
        <li><a href="#about" class="nav-link">About</a></li>
        <li><a href="#skills" class="nav-link">Skills</a></li>
        <li><a href="#projects" class="nav-link">Projects</a></li>
        <li>
          <a href="https://barshakc.hashnode.dev" class="nav-link">Blog</a>
        </li>
        <li><a href="#research" class="nav-link">Publications</a></li>
        <li><a href="#footer" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <section id="home" class="flex s-center items-center">
      <div class="home-left flex f-col s-center items-center">
        <div class="home-content">
          <h6>Hi there, I'm</h6>

          <h1 class="t-white">Barsha KC Khatri</h1>

          <h4>
            <span id="typewriter"></span>
          </h4>

          <p class="subtitle">
            Building scalable systems, data-driven solutions, and AI-powered
            applications.
          </p>

          <div class="btn-group">
            <a
              href="{% static 'pdf/Barsha KC Khatri CV.pdf' %}"
              target="_blank"
            >
              <button class="btn">View Resume</button>
            </a>

            <a class="btn secondary" href="#footer"> Get in Touch </a>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <h1>About Me</h1>
      <div class="about-container flex s-center">
        <div class="about-left">
          <div class="about-content">
            <p class="intro-text">
              I am an Electronics, Communication and Information Engineering
              graduate with a focus on backend systems, data engineering,
              and AI-driven applications.
            </p>

            <p class="about-text">
              I have an experience in building full-stack applications, data pipelines, and scalable systems, with work in computer vision (YOLO) and assistive technology research.
            </p>

            <p class="about-text">
              I enjoy solving real-world problems by combining software
              engineering, data analysis, and machine learning to create
              practical and impactful solutions.
            </p>
          </div>
        </div>
      </div>
    </section>
    

    <section id="education">
    <h1>Education</h1>

    <div class="education-content">
        <h3>Bachelor’s in Electronics, Communication and Information Engineering</h3>
        <p>Institute of Engineering, Pashchimanchal Campus</p>
        <p class="edu-year">2021 – 2025</p>
    </div>
</section>
</section>

    </div>
</section>

    <section id="skills">
  <h1>Skills</h1>

  <div class="skills-container">

    <div class="skill-card">
      <h3>Programming</h3>
      <p>C • C++ • Python </p>
    </div>

    <div class="skill-card">
      <h3>Frameworks & Libraries</h3>
      <p>Django • FastAPI • Pandas • NumPy • Streamlit</p>
    </div>

    <div class="skill-card">
      <h3>Backend & APIs</h3>
      <p>REST APIs • Celery • Redis</p>
    </div>

    <div class="skill-card">
      <h3>Machine Learning</h3>
      <p>YOLO • OpenCV</p>
    </div>

    <div class="skill-card">
      <h3>Databases</h3>
      <p>PostgreSQL • MySQL</p>
    </div>

    <div class="skill-card">
      <h3>Tools & Others</h3>
      <p>Git • Docker • Power BI</p>
    </div>

  </div>
</section>


    <section id="projects">
      <h1>Projects</h1>

      <div class="projects-container">
        <div class="project-card">
          <h3>Obstacle Detection System</h3>
          <p>
            AI + IoT system for real-time obstacle detection with audio and haptic feedback.
          </p>
          <p class="tools">
            Python, OpenCV, YOLOv3, Raspberry Pi
          </p>
          <a
            href="https://conference.ioe.edu.np/publications/ioegc16/IOEGC-16-266-PS2-03.pdf"
            target="_blank"
            class="project-link"
            >Paper ↗</a
          >
        </div>

        <div class="project-card">
          <h3>Finance Tracker</h3>
          <p>
            Full-stack system for tracking transactions, budgets, and financial analytics.
          </p>
          <p class="tools">
            Django, React, PostgreSQL, Docker, Nginx, Chart.js
          </p>
          <a
            href="https://github.com/barshakc/Finance-Tracker"
            target="_blank"
            class="project-link"
            >GitHub ↗</a
          >
        </div>

        <div class="project-card">
          <h3>Task Scheduler</h3>
          <p>
            Backend system for scheduling and managing tasks with real-time monitoring.
          </p>
          <p class="tools">
            FastAPI, Celery, Streamlit, Docker
          </p>
          <a
            href="https://github.com/barshakc/Task-Scheduler"
            target="_blank"
            class="project-link"
            >GitHub ↗</a
          >
        </div>

        <div class="project-card">
          <h3>YouTube Data Analytics</h3>
          <p>
            Automated data pipeline and dashboard for analyzing video performance.
          </p>
          <p class="tools">Python, Airflow, PostgreSQL, DRF, Power BI</p>
          <a
            href="https://github.com/barshakc/Youtube-Data-Analytics"
            target="_blank"
            class="project-link"
            >GitHub ↗</a
          >
        </div>

        <div class="project-card">
          <h3>Nepali Sign Language Recognition</h3>
          <p>
            A real-time sign language recognition using YOLOv8.
          </p>
          <p class="tools">Python, OpenCV, ML</p>
          <a href="#" target="_blank" class="project-link">Link</a>
        </div>
      </div>
    </section>

    <section id="research">
      <h1>Research & Publications</h1>

      <div class="research-container">
        <div class="research-card">
          <h3>Obstacle Detection for Visually Impaired</h3>
          <p class="publication">IOE Graduate Conference (IOEGC-16), 2025</p>
          <p>
            A real-time obstacle detection system using YOLOv3 and
            Raspberry Pi to assist visually impaired individuals with navigation
            through audio and haptic feedback.
          </p>
          <a
            href="https://conference.ioe.edu.np/publications/ioegc16/IOEGC-16-266-PS2-03.pdf"
            target="_blank"
            class="project-link"
          >
            Research Paper ↗
          </a>
        </div>

        <div class="research-card">
          <h3>Nepali Sign Language Recognition</h3>
          <p class="publication">
            RTSTI Conference, 2025 (Conference Abstract)<br />
            Abstract No: 20P-MAC-ORAL-051 | Oral Presentation | p.
          </p>
          <p>
            A computer vision-based system for recognizing Nepali sign
            language gestures using YOLO models.
          </p>
          <a
            href="https://drive.google.com/file/d/12Fbqu7wbd39QSV-VLtkGaTLTl-LRvzXY/view?usp=sharing"
            target="_blank"
            class="project-link"
          >
            Abstract ↗
          </a>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer-content">
        <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/barsha-kc-khatri/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>

          <a href="https://github.com/barshakc" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>

        <p>&copy; Barsha K.C. Khatri. All rights reserved.</p>
      </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
